<div class="header">
    <!-- Logo/Title -->
    <div id="site_title"><a th:href="@{/}"><img th:src="@{/img/logo.png}" alt=""></a> </div>
    <!-- Main Menu -->
    <ol id="menu">
      <li class="active_menu_item"><a th:href="@{/}" style="color:#FFF">Αρχικη</a>
        <!-- sub menu -->
        <ol>
          <li><a th:href="@{/product/new}">Νέο Προϊόν</a></li>
          <li><a th:href="@{/user/new}">Νέος Χρήστης</a></li>
          <li><a href="fullscreen-gallery.html">Fullscreen Slider</a></li>
          <li><a href="image-frontpage.html">Static Image</a></li>
        </ol>
      </li>
      <!-- end sub menu -->
      <li><a href="#">Σελιδες</a>
        <!-- sub menu -->
        <ol>
          <li><a href="magazine.html">Magazine</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="full-width.html">Full Width Page</a></li>
          <li><a href="columns.html">Columns</a></li>
        </ol>
      </li>
      <!-- end sub menu -->
      <li><a th:href="@{/users}">Χρηστες</a></li>
      <li><a href="#">Galleries</a>
        <!-- sub menu -->
        <ol>
          <li><a href="gallery-simple.html">Simple</a></li>
          <li><a href="portfolio.html">Filterable</a></li>
          <li><a href="gallery-fader.html">Fade Scroll</a></li>
          <li><a href="video.html">Video</a></li>
          <li class="last"><a href="photogrid.html">PhotoGrid</a></li>
        </ol>
      </li>
      <!-- end sub menu -->
      <li><a th:href="@{/contact}">Επικοινωνια</a></li>
    </ol>
  </div>
